{{ content.field_title}}
<div class="field slideshow">
    <div class="swiper-container">
        <div class="swiper-wrapper">
        {{ content.field_slides }}
        </div>
        
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        
    </div>
</div>