@keyframes fadeIn {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1
  }

  100% {
    opacity: 0
  }
}

@keyframes bounce {
  0%, 100% {
    transform: scale(0)
  }

  50% {
    transform: scale(1)
  }
}

@keyframes focusShadow {
  0%, 100% {
    box-shadow: 0 0 0 transparent
  }

  50% {
    box-shadow: 0 0 8px rgba(0,0,0,.08)
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0)
  }

  100% {
    transform: scale(1)
  }
}

progress,
sub,
sup {
  vertical-align: baseline
}

[type=checkbox],
[type=radio],
legend {
  box-sizing: border-box;
  padding: 0
}

body,
html {
  min-height: 100%
}

button,
hr,
input {
  overflow: visible
}

hr,
legend {
  padding: 0
}

iframe,
img,
legend {
  max-width: 100%
}

a:active,
a:focus,
blockquote,
html,
sub,
summary,
sup {
  position: relative
}

img,
summary:before {
  vertical-align: top
}

body,
button,
input,
optgroup,
select,
textarea {
  margin: 0
}

pre,
textarea {
  overflow: auto
}

#main-menu a,
.button,
.text-link,
a.pane,
ul.menu a {
  text-decoration: none
}

.dropdown-menu>a>*,
body>header>.banner {
  pointer-events: none
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block
}

audio,
canvas,
progress,
video {
  display: inline-block
}

audio:not([controls]) {
  display: none;
  height: 0
}

[hidden],
template {
  display: none
}

a:active,
a:hover {
  outline-width: 0
}

abbr[title] {
  border-bottom: 0;
  text-decoration: underline;
  text-decoration: underline dotted
}

b,
strong {
  font-weight: bolder
}

dfn {
  font-style: italic
}

small {
  font-size: 80%
}

sub,
sup {
  font-size: 75%;
  line-height: 0
}

sub {
  bottom: -.25em
}

sup {
  top: -.5em
}

img {
  border-style: none;
  height: auto
}

svg:not(:root) {
  overflow: hidden
}

code,
kbd,
pre,
samp {
  font-family: monospace,monospace;
  font-size: 1em
}

button,
input,
select,
textarea {
  font: inherit
}

optgroup {
  font-weight: 700
}

button,
select {
  text-transform: none
}

[type=reset],
[type=submit],
button,
html [type=button] {
  -webkit-appearance: button
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: ButtonText dotted 1px
}

legend {
  color: inherit;
  display: table;
  white-space: normal
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: .54
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}

.bgc-white {
  background-color: #fff
}

.bgc-black {
  background-color: #111
}

.bgc-silver {
  background-color: #ddd
}

.bgc-blue {
  background-color: #0074d9
}

.bgc-red {
  background-color: #ff4136
}

.bgc-green {
  background-color: #2ecc40
}

.bgc-orange {
  background-color: #ff851b
}

.clr-white,
.clr-white a,
.clr-white a:active,
.clr-white a:focus,
.clr-white a:hover,
.clr-white a:link,
a.clr-white,
a.clr-white:active,
a.clr-white:focus,
a.clr-white:hover,
a.clr-white:link {
  color: #fff
}

.clr-black,
.clr-black a,
.clr-black a:active,
.clr-black a:focus,
.clr-black a:hover,
.clr-black a:link,
a.clr-black,
a.clr-black:active,
a.clr-black:focus,
a.clr-black:hover,
a.clr-black:link {
  color: #111
}

.clr-silver,
.clr-silver a,
.clr-silver a:active,
.clr-silver a:focus,
.clr-silver a:hover,
.clr-silver a:link,
a.clr-silver,
a.clr-silver:active,
a.clr-silver:focus,
a.clr-silver:hover,
a.clr-silver:link {
  color: #ddd
}

html {
  background: #ddd;
  color: #333;
  font: 18px 'source sans pro' ,sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

dt,
label,
legend,
summary {
  font-weight: 600
}

body {
  font-size: 100%;
  line-height: 1.5
}

body>svg {
  display: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: source sans pro,sans-serif;
  font-weight: 600;
  margin: 1em 0 .5em
}

h1,
h2 {
  line-height: 1
}

h3,
h4 {
  line-height: 1.2
}

h1 {
  font-size: 3em;
  margin-top: 0
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.556em
}

h4 {
  font-size: 1.333em
}

h5 {
  font-size: 1.111em
}

h6 {
  font-size: 1em
}

blockquote,
details,
dl,
fieldset,
figure,
form,
ol,
p,
pre,
table,
ul {
  margin: 0 0 1em
}

blockquote:last-child,
details:last-child,
dl:last-child,
fieldset:last-child,
figure:last-child,
form:last-child,
ol:last-child,
p:last-child,
pre:last-child,
table:last-child,
ul:last-child {
  margin-bottom: 0
}

a {
  background-color: transparent;
  color: #0074d9;
  -webkit-text-decoration-skip: objects
}

a:active,
a:focus {
  color: #004b8d;
  top: 1px
}

a:hover {
  color: #0059a6
}

hr {
  border: 0;
  border-top: 1px solid #ddd;
  box-sizing: content-box;
  display: block;
  height: 1px;
  margin: 1em auto
}

.input,
.pane,
.visually-hidden,
.wrapper,
table {
  box-sizing: border-box
}

ol,
ul {
  padding-left: 1em
}

ul {
  list-style-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iOSIgd2lkdGg9IjEwIj48cmVjdCBmaWxsPSIjMzI3ZmM3IiByeD0iMS43NTQiIHJ5PSIxLjc0NSIgaGVpZ2h0PSI3IiB3aWR0aD0iNyIvPjwvc3ZnPg==)
}

pre {
  border-left: 6px solid #0074d9;
  padding-left: .778em
}

mark {
  background: #0074d9;
  background-color: #ff0;
  color: #fff
}

iframe {
  border: 0;
  max-height: 100%
}

blockquote {
  font-size: 1.333em;
  font-style: italic;
  padding: 0 1em
}

blockquote:after,
blockquote:before {
  display: block;
  font-size: 1.333em;
  left: 0;
  position: absolute;
  top: -.4em
}

blockquote:before {
  content: '“'
}

blockquote:after {
  bottom: -.8em;
  content: '”';
  left: auto;
  right: 0;
  top: auto
}

dd {
  margin: 0 0 .5em
}

summary {
  cursor: pointer
}

summary::-webkit-details-marker {
  display: none
}

summary:active,
summary:focus {
  outline: 0
}

summary:before {
  border: solid transparent;
  border-bottom-color: #333;
  border-width: .4em .32em;
  content: ' ';
  display: inline-block;
  margin: .2em .4em 0 0;
  transform-origin: 50% .6em;
  transition: transform .2s ease-in-out;
  width: 0
}

[open=""]>summary:before,
[open=open]>summary:before {
  transform: rotate(180deg)
}

input {
  -webkit-appearance: none;
  -moz-appearance: none
}

input::-ms-expand {
  display: none
}

input:-webkit-autofill,
input:-webkit-autofill:active,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover {
  -webkit-box-shadow: 0 0 0 #fff inset!important
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer
}

button[disabled],
html input[disabled] {
  cursor: default
}

.button,
select {
  cursor: pointer
}

fieldset {
  border: 1px solid #ddd;
  padding: .35em .625em .75em
}

label {
  margin-bottom: .2em
}

.input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  border: 1px solid #c4c4c4;
  border-radius: .25em;
  color: #4d4d4d;
  display: block;
  font-size: 1em;
  margin-bottom: .778em;
  padding: .4em .8em .5em;
  transition: border-color .1s ease-in;
  width: 100%
}

.input:active,
.input:focus {
  animation: focusShadow .4s ease-in-out;
  border-color: #0074d9;
  outline: 0
}

textarea {
  padding: .6em .8em
}

select:not([multiple]) {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNiIgaGVpZ2h0PSI4Ij48cGF0aCBmaWxsPSIjNjE2MTYxIiBkPSJNMTAgMkw1IDggMCAyIi8+PC9zdmc+) right center no-repeat #fff
}

select:not([multiple]):active,
select:not([multiple]):focus {
  background-blend-mode: hard-light
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  opacity: 0;
  padding: 0;
  position: absolute;
  z-index: -1
}

input[type=checkbox]+label,
input[type=radio]+label {
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  margin: 0 .778em .2em 0;
  padding-left: 26px;
  position: relative
}

input[type=checkbox]+label.no-text,
input[type=radio]+label.no-text {
  text-indent: -9999px
}

input[type=checkbox]+label:after,
input[type=checkbox]+label:before,
input[type=radio]+label:after,
input[type=radio]+label:before {
  content: '';
  display: block;
  left: 0;
  position: absolute;
  top: .25em
}

input[type=checkbox]+label:before,
input[type=radio]+label:before {
  background-color: #fff;
  background-image: none;
  border: 1px solid #c4c4c4;
  border-radius: .25em;
  color: #fff;
  height: 16px;
  transition: border-color .1s ease-in;
  width: 16px
}

input[type=checkbox]:checked+label:before,
input[type=checkbox]:focus+label:before,
input[type=radio]:checked+label:before,
input[type=radio]:focus+label:before {
  animation: focusShadow .4s ease-in-out;
  border-color: #0074d9
}

input[type=checkbox]:checked+label:after,
input[type=checkbox]:focus+label:after,
input[type=radio]:checked+label:after,
input[type=radio]:focus+label:after {
  animation: zoomIn .1s ease-in-out
}

input[type=checkbox][type=radio]+label:after,
input[type=checkbox][type=radio]+label:before,
input[type=radio][type=radio]+label:after,
input[type=radio][type=radio]+label:before {
  border-radius: 50%
}

input[type=checkbox][type=radio]:checked+label:after,
input[type=radio][type=radio]:checked+label:after {
  background: #0074d9;
  height: 10px;
  margin: 4px;
  width: 10px
}

input[type=checkbox][type=checkbox]:checked+label:after,
input[type=radio][type=checkbox]:checked+label:after {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMiI+PHBhdGggZmlsbD0iIzYxNjE2MSIgZD0iTS4xMjUgNi4yMTNsMi44IDIuOCAxLjUgMS41Yy4xLjEuMy4xLjQgMGwxLjUtMS41IDUuNTUtNS43Yy4xMS0uMTAyLjE0LS4yNDMgMC0uNHEtMS40OTQtMS40OTYtMS41LTEuNWMtLjA4Ni0uMDYtLjE0OC0uMTYzLS4zNSAwbC01LjQgNS41LTIuNi0yLjZjLS4xNS0uMS0uMzUtLjEtLjUgMGwtMS4zNSAxLjVxLS4yLjI1LS4wNS40eiIvPjwvc3ZnPg==) center center no-repeat;
  height: 13px;
  margin: 2px;
  width: 13px
}

li input[type=checkbox]+label,
li input[type=radio]+label {
  margin-bottom: 0
}

.button {
  background-color: #0074d9;
  border: 1px solid #0066c0;
  border-radius: .25em;
  color: #fff;
  display: inline-block;
  font-size: 1em;
  font-weight: 400;
  margin-right: .5em;
  padding: .45em 1em;
  text-align: center;
  transition: background-color .1s ease-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap
}

.ta-left,
th {
  text-align: left
}

.button:hover {
  background-color: #0059a6;
  color: #fff
}

.button:active,
.button:focus {
  background-color: #004b8d;
  color: #fff;
  outline: 0
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  min-width: 20em;
  width: 100%
}

tr {
  border-bottom: 1px solid #ddd
}

th {
  font-weight: 600
}

ul.menu a,
ul.menu>li {
  display: block
}

ul.menu {
  list-style: none;
  padding: 0
}

ul.inline-menu.mobile>li,
ul.tabs {
  display: inline-block
}

ul.tabs>li a {
  border: solid #ddd;
  border-width: 1px 0;
  padding: .5em .778em
}

ul.tabs>li a:active,
ul.tabs>li a:focus {
  top: 0
}

ul.tabs>li+li {
  margin-top: -1px
}

.dropdown-menu>a {
  display: none
}

.dropdown-menu:not(.mobile)>ul {
  display: none;
  position: relative
}

.dropdown-menu:not(.mobile).open>ul {
  display: block
}

#egggif,
#menu-bar {
  left: 0;
  right: 0;
  top: 0
}

.pane {
  display: inline-block;
  vertical-align: top;
  width: 100%
}

.wrapper {
  margin: 0 auto;
  max-width: 71.111em;
  min-width: 0 20em;
  padding: 0 1em;
  position: relative
}

.visually-hidden {
  opacity: 0;
  padding: 0;
  position: absolute;
  visibility: hidden;
  z-index: -1
}

.icon,
.icon+span {
  display: inline-block;
  vertical-align: middle
}

.text-link {
  color: inherit
}

.no-text span {
  display: none
}

.tiny {
  font-size: .611em
}

.small {
  font-size: .833em
}

.large {
  font-size: 1.333em
}

.huge {
  font-size: 2em
}

.ta-center {
  text-align: center
}

.ta-right {
  text-align: right
}

.va-top {
  vertical-align: top
}

.va-middle {
  vertical-align: middle
}

.va-bottom {
  vertical-align: bottom
}

.pd-tiny {
  padding: .5em
}

.pd-small {
  padding: .778em
}

.pd-medium {
  padding: 1em
}

.pd-large {
  padding: 2em
}

.pd-huge {
  padding: 3em
}

.pd-none {
  padding: 0
}

.npd-tiny {
  margin: -.5em
}

.npd-small {
  margin: -.778em
}

.npd-medium {
  margin: -1em
}

.npd-large {
  margin: -2em
}

.npd-huge {
  margin: -3em
}

.mg-none {
  margin: 0
}

.mg-tiny {
  margin-bottom: .5em
}

.mg-small {
  margin-bottom: .778em
}

.mg-medium {
  margin-bottom: 1em
}

.mg-large {
  margin-bottom: 2em
}

.mg-huge {
  margin-bottom: 3em
}

.bd-full {
  border: 1px solid #ddd
}

.bd-top {
  border-top: 1px solid #ddd
}

.bd-right {
  border-right: 1px solid #ddd
}

.bd-bottom {
  border-bottom: 1px solid #ddd
}

.bd-left {
  border-left: 1px solid #ddd
}

.dp-inline {
  display: inline
}

.dp-block {
  display: block
}

.dp-iblock {
  display: inline-block
}

.dp-table {
  display: table;
  table-layout: fixed;
  width: 100%
}

.dp-row {
  display: table-row
}

.dp-cell {
  display: table-cell
}

.bgc-dark {
  background-color: #111
}

.txt-light,
.txt-light a {
  color: #fff
}

.txt-light a:hover {
  color: #ccc
}

#egggif {
  display: block;
  margin: 0 auto;
  min-width: 50%;
  position: fixed;
  z-index: 999999
}

#menu-bar,
body>header {
  position: relative
}

#menu-bar {
  -webkit-backface-visibility: hidden;
  border-bottom: 1px solid #111;
  line-height: 3em;
  z-index: 99
}

#menu-bar .icon {
  fill: #fff;
  height: 1em;
  margin-right: .4em;
  width: 1em
}

#main-menu a {
  font-weight: 600;
  line-height: 3em;
  padding: 0 1.5em
}

#main-menu a.active,
#main-menu a:active,
#main-menu a:focus,
#main-menu a:hover {
  background: #161616;
  color: #e6e6e6
}

#main-menu>a {
  display: none
}

@media 50em {
  #main-menu>ul>li {
    border-color: #2b2b2b;
    border-style: solid;
    border-width: 0 1px
  }

  #main-menu>ul>li+li {
    border-left-width: 0
  }
}

@media 33.333em {
  #main-menu>a {
    border-color: #2b2b2b;
    border-style: solid;
    border-width: 0 1px;
    display: inline-block
  }
}

body>header>img {
  display: inline-block
}

#social-links .icon+span,
body:before {
  display: none
}

body>header>.banner {
  opacity: .6;
  overflow-x: hidden
}

body>header>.banner img {
  animation: fadeIn 1.2s;
  left: 50%;
  min-width: 73.333em;
  position: relative;
  transform: translate(-50%,0);
  width: 100%
}

body>header>.wrapper {
  top: -100%
}

#social-links {
  height: inherit;
  position: absolute;
  right: 0;
  top: 0
}

#social-links .icon {
  fill: #fff;
  height: 1em;
  margin: .6em;
  transition: all .2s ease-in-out;
  width: 1em
}

#social-links .icon:hover {
  fill: #0074d9
}

body>main {
  margin-top: 1.667em
}

@media only screen and (max-width:16.667em) {
  body:before {
    content: 'mini'
  }
}

@media only screen and (max-width:33.333em) {
  tr {
    border-width: 1px
  }

  th {
    display: none
  }

  td {
    display: block;
    margin: .5em 1em;
    padding: 0
  }

  td:first-child {
    padding-top: .5em
  }

  td:last-child {
    padding-bottom: .5em
  }

  td:before {
    content: attr(data-th) ": ";
    display: inline-block;
    font-weight: 700;
    width: 6.5em
  }

  .dropdown-menu.mobile>a {
    display: inline-block
  }

  .dropdown-menu.mobile>ul {
    display: none
  }

  .dropdown-menu.mobile.open>ul {
    display: block
  }

  body:before {
    content: 'tiny'
  }
}

@media only screen and (max-width:50em) {
  body:before {
    content: 'small'
  }
}

@media only screen and (max-width:66.667em) {
  body:before {
    content: 'medium'
  }
}

@media only screen and (max-width:88.889em) {
  body:before {
    content: 'large'
  }
}

@media only screen and (min-width:16.667em) {
  body:before {
    content: 'tiny'
  }
}

@media only screen and (min-width:33.333em) {
  ul.inline-menu>li {
    display: inline-block
  }

  ul.tabs.inline-menu>li {
    margin: 0 0 0 -1px
  }

  ul.tabs.inline-menu>li a {
    border-width: 1px;
    padding: .5em 1em
  }

  ul.tabs.inline-menu>li a.active,
  ul.tabs.inline-menu>li a:hover {
    border-bottom-color: transparent
  }

  .dropdown-menu:not(.mobile) {
    position: relative
  }

  .dropdown-menu:not(.mobile)>ul {
    left: 0;
    max-width: 16.667em;
    min-width: 11.111em;
    position: absolute;
    top: 100%
  }

  .grid2 {
    width: 25%
  }

  .grid3 {
    width: 33.333%
  }

  .grid4 {
    width: 50%
  }

  .grid9 {
    width: 66.666%
  }

  .grid10 {
    width: 75%
  }

  .gt-tiny {
    margin-left: -.25em;
    margin-right: -.25em
  }

  .gt-tiny>.pane {
    padding: 0 .25em .5em
  }

  .gt-small {
    margin-left: -.389em;
    margin-right: -.389em
  }

  .gt-small>.pane {
    padding: 0 .389em .778em
  }

  .gt-medium {
    margin-left: -.5em;
    margin-right: -.5em
  }

  .gt-medium>.pane {
    padding: 0 .5em 1em
  }

  .gt-large {
    margin-left: -1em;
    margin-right: -1em
  }

  .gt-large>.pane {
    padding: 0 1em 2em
  }

  .gt-huge {
    margin-left: -1.5em;
    margin-right: -1.5em
  }

  .gt-huge>.pane {
    padding: 0 1.5em 3em
  }

  body:before {
    content: 'small'
  }
}

@media only screen and (min-width:50em) {
  dl.inline dl,
  dl.inline dt {
    display: inline-block;
    vertical-align: top
  }

  dl.inline dt {
    width: 25%
  }

  dl.inline dd {
    width: 75%
  }

  th {
    border-bottom: 2px solid #c4c4c4
  }

  td,
  th {
    display: table-cell;
    padding: .5em .778em
  }

  .grid1 {
    width: 8.333%
  }

  .grid2 {
    width: 16.66%
  }

  .grid3 {
    width: 25%
  }

  .grid4 {
    width: 33.333%
  }

  .grid5 {
    width: 41.66
  }

  .grid6 {
    width: 50%
  }

  .grid7 {
    width: 58.33%
  }

  .grid8 {
    width: 66.666%
  }

  .grid9 {
    width: 75%
  }

  .grid10 {
    width: 83.33%
  }

  .grid11 {
    width: 91.66%
  }

  .grid12 {
    width: 100%
  }

  body:before {
    content: 'medium'
  }
}

@media only screen and (min-width:66.667em) {
  body:before {
    content: 'large'
  }
}

@media only screen and (min-width:16.667em) and (max-width:33.333em) {
  body:before {
    content: 'tiny'
  }
}

@media only screen and (min-width:33.333em) and (max-width:50em) {
  body:before {
    content: 'small'
  }
}

@media only screen and (min-width:50em) and (max-width:66.667em) {
  body:before {
    content: 'medium'
  }
}

@media only screen and (min-width:66.667em) and (max-width:88.889em) {
  body:before {
    content: 'large'
  }
}

@media only screen and (min-width:88.889em) {
  body:before {
    content: 'huge'
  }
}