/**
 * Color variables
 */


// default
@maincolor  : #4ea9c3;
@spotcolor  : #f8f8f8;



// background 
@bgc        : #fff;
@bgc-alt    : #fff;
@bgc-light  : #fff;
@bgc-dark   : #454545;
@bgc-focus  : @maincolor;

// border
@bc         : #e5e5e5;
@bc-alt     : @bc;
@bc-light   : @bc;
@bc-dark    : @bc;
@bc-focus   : @maincolor;

